<div class="container">
    </br>
    </br>
    <div class="alert alert-danger" role="alert">
        </br>
        </br>
        </br>
        <h3>Error</h3><br /><br />
        {{error}}
        <br /><br />
    </div>
    <a href="{{link}}" class="btn btn-primary">Volver a {{texto}}</a>
    </br>
    </br>
    </br>
</div>